<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>958135602892-486fbtlfl8ntsm8ms8ndol1lqrf3ab2i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.958135602892-486fbtlfl8ntsm8ms8ndol1lqrf3ab2i</string>
	<key>API_KEY</key>
	<string>AIzaSyDoElrjp6tgkuNRvGcRSe0W-keVurdyz9Y</string>
	<key>GCM_SENDER_ID</key>
	<string>958135602892</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.customerFeedbackAnalysis</string>
	<key>PROJECT_ID</key>
	<string>customer-feedback-analytic</string>
	<key>STORAGE_BUCKET</key>
	<string>customer-feedback-analytic.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:958135602892:ios:b0770c95e30934ac92fc69</string>
</dict>
</plist>